// Style Variables
$theme-colors: (
    // This is how you changed theme colors, syntax is different that when you were using React-Bootstrap. 
//   "danger": #ffb800,
);
$darker: #121517;

// Import Reactstrap Styles
@import "node_modules/bootstrap/scss/bootstrap";

// Main Styles
.App {
    background-color: $black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.Navbar {
    background-color: $dark;
    border-bottom: solid $gray-700 1px;
}

.title {
    padding-left: 10px;
}

.Nodes {
    padding: 1em;
    text-align: center;
    overflow: hidden;
}

.node {
    background-color: $gray-800;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    border: solid $gray-700 1px;
    margin: 0.2em;
}

.ColorPicker {
    margin-right: 1em;
}

.btn-red {
    background-color: red;
}

.btn-orange {
    background-color: orange;
}

.btn-yellow {
    background-color: yellow;
}

.btn-green {
    background-color: green;
}

.btn-blue {
    background-color: cyan;
}

.btn-indigo {
    background-color: blue;
}

.btn-purple {
    background-color: purple;
}

.btn-brown {
    background-color: brown;
}

.btn-black {
    background-color: black;
    color: white;
}

.btn-white {
    background-color: white;
}


// Media Queries